*{
    padding:0;
    margin:0;
    font-family: 'Helvetica' , Arial, sans-serif;
    border:border-box;
}

body{
    background-color:black;
}

html,body{
    height: 100%;
    width:100%;
    padding:0;
    margin:0;
    overflow-x:hidden;
}

.border{
    border-bottom: 10px solid #232323;
}

.background{
    background-image: url(./assests/images/background-img.jpg);
    background-size: cover;
    height:700px;
}

.background-gradient{
    height: 100%;
    background-color: rgba(0,0,0,0.5);

}

.navbar{
    height: 100px;
    padding-top:13px;
    padding-left:120px;
    display: flex;
    justify-content: space-between;
    padding-right:120px
  
}
.nav-logo svg{
    height: 50px;
    width:150px;
    fill:#E50914;
    margin:8px 0 0 20px;

}

.nav-buttons{
    display: flex;
    margin-top:3px;
   

}

.lang{
    display: flex;
    align-items: center;
    justify-content: center;
    height:30px;
    width:120px;
    margin-top:5px;
    border-radius: 4px;
    padding-left:15px;
    border:1px solid rgb(90,90,90);
    
}

.button-select{
    background-color: rgba(0,0,0,0.5);
    color:white;
    height: 30px;
    width: 130px;
    margin-top:2px;
    font-size: 1.1rem;
    border:none;
}

.lang i{
    color:white;
    margin-top:2px;
    font-size: 0.75rem;
    margin-right:5px;
    margin-left:2px
}

.sign-in{
    color:white;
    height:30px;
    width:80px;
    background-color: #E50914;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:6px;
    margin-left:23px;
    border-radius: 4px;
    font-size:0.95rem;
}

.title{
    height:450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    padding-top:20px;
    
}

.title h1{
    font-size:45px;
    font-weight: 800;
    margin-bottom:20px;
}

.para-one{
    font-size:25px;
    margin-bottom:25px; 
}

.para-two{
    font-size: 18px;
    font-weight: 500;
    margin-bottom:20px; 
}

.title-search{
    display: flex;
    padding-right: 130px;
    width:100%;
    justify-content: center;
    gap:10px;
    padding-left:135px;
}

.title-input{
    height: 60px;
    width:370px;
    background-color: rgba(0,0,0,0.6);
    font-size:1rem;
    color:white;
    border-radius: 4px;
    border:1px solid rgb(90,90,90);
}

::placeholder{
    color: #cccccc;
    padding-left:20px;
}

.get-started{
    display: flex;
    height: 60px;
    width:200px;
    background-color: #E50914;
    justify-content: center;
    align-items: center;
    font-size:1.4rem;
    border-radius: 4px;    
}

.get-started p{
    margin-right:10px;
}

.box-section{
    color:white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:0px 100px;
}

.left-section{
    width: 50vw;
    
    /* text-align: center; */
}

.left-section h1,.right-section h1{
    font-size: 48px;
    margin-bottom:20px;
}

.left-section p,.right-section p{
    font-size: 27px;
}

.right-section{
    position: relative;
    width: 50vw;
    overflow:hidden;
}

.right-section img{
    width:100%;
    overflow: hidden;
}

.right-section video{
    width:100%;
    position:absolute;
    left:12%;
    top:20%;
    z-index:-1;
    overflow: hidden;
}

.static-left-section{
    position: relative;
    width: 50vw;
}

.layout{
    border:1px solid rgb(90,90,90);
    border-radius: 4px;
    display: flex;
    align-items: center;
    height:25%;
    width: 50%;
    background-color:black;
    position: absolute;
    bottom:7%;
    left:23%;
    justify-content: space-around;
    padding:3px 10px 3px 2px;
    
}

.layout img{
    height: 100%;

}

.layout p{
    display: flex;
    flex-direction: column;
}

.layout p b{
    color:white;
    font-size:0.8rem;
}

.layout span{
    font-size:0.75rem;
    color:blue;
}

.layout i{
    color:white;
    margin-right:2px;
}

.right-section-three{
    width:50vw;
    overflow: hidden;

}

.right-section-three img{
    width:100%;
    overflow: hidden;
}

.right-section-three video{
    width: 61%;
    object-fit: contain;
    position: absolute;
    left:19%;
    top: 9%;
    overflow: hidden;
    
}

.box-four{
    display: flex;
    gap:20px;
}

.static-left-section{
    width:50vw;
    margin-bottom: 30px;
}

.static-left-section img{
    width:100%;
}

.doubt-section{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 10px;
}

.doubt-section h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.doubt-section p{
    height:80px;
    width:80%;
    background-color:#2D2D2D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    padding-left: 20px;
}

.doubt-section .trans-para{
    font-size: 1.4rem;
    color:#CCCCCC;
    font-weight: lighter;
    height: 0;
    overflow: hidden;
    transition: height ease 10s;
    display: none;
    padding:10px 10px;  
} 

.trans-para.active{
    height:auto;
    display: block;
}


/* .doubt-section:hover .trans-para{
    visibility: visible;
    transform: translateY(10px);
} */



.doubt-section p:hover{
    background-color: #414141;
}

.doubt-section p > i{
    color:#FFFFFF;
    font-size: 2rem;
    padding-right: 20px;
}

.again{
    height: 200px;

}

.footer-section{
    height:400px;
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: space-evenly;
}

.footer-section ul{
    display: flex;
    flex-direction: column;
    color:#B3B3B3;
    gap:30px;
    font-size: 0.95rem;
    font-weight: normal;
    padding:10px;

}


@media (max-width:1280px){

    .navbar{
       display:flex;
       padding:10px 15px;
       margin:0;
       justify-content: space-between;
    }

}

@media (max-width:1250px){
    .left-section h1,.right-section h1{
        font-size: 2.3rem;
    }

    .left-section p,.right-section p{
        font-size: 1rem;
    }
}



@media (max-width:960px){

    .nav-logo svg{
        width:100px;
        height: 30px;
    }

    .title h1{
        font-size:32px;
        font-weight: 600;
    }

    .title > p{
        font-size: 18px;
    }

    .box-section{
        flex-wrap:wrap;
        text-align: center;
        padding:20px;
        justify-content: center;

    }



    .box-section img{
    
        overflow:hidden;
    }

    .box-section h1{
        font-size:32px;
   
    }



    .box-section p{
        font-size:18px;
       
    }

    .box-one{
        position:relative;
    }
    .box-one video{
        position: absolute;
        left: 13%;
        
    }

    .box-two{
        display: flex;
        flex-direction: column-reverse;
    }

    .box-three video{
        left:19%;
    }

    .box-four p{
        font: size 1em;
    }

    .box-four{
        display: flex;
        flex-direction: column-reverse;
    }

    .left-section-one, .left-section-three{
        width: 100vw;
    }

    .right-section-two,.right-section-four{
        width:92vw;
    }


}

@media (max-width:750px){
    .doubt-section h1{
        font-size: 2rem;
        margin:10px 5px;
    }

    .doubt-section p{
        height: 20px;
        font-size: 0.6rem;
        padding-left: 10px;
    }

    .doubt-section p > i{
        font-size: 0.5rem;
    }
}


@media (max-width:600px){

    .navbar{
        padding:20px 10px;
    }

    .nav-buttons{
        gap:10px;
    }

    .nav-buttons .lang{
        
        max-width:65px;
        padding-right: 20px;
        
    }

    .lang i {
        margin-left:13px ;
    }

    .sign-in{
        height: 28px;
        max-width:60px;
        margin-left:0;
        margin-right:3px;

    }

    .title{
        margin:10px 15px;
        text-align: center;
    }

    .title h1{
        font-size: 25px;
    }

    .title-search{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title-search input{
        width:85%;
    }

    .title-search .get-started{
        font-size: 15px;
        height:40px;
        max-width:130px;
    }
}

@media(max-width:500px){

    .footer-section{
        gap:3px;
    }
    .footer-section ul{
        font-size: 0.8rem;
        gap:7px;
    }

    .footer-section ul p{
        margin-top:5px;
    }

    .lang-again{
        width:80px;
    }

    .lang-again i{
        margin-left:3px;
    }

    .lang-again select{
        font-size:0.6rem;
        margin-right: 9px;
    }
}

@media (max-width:425px){
    .left-section h1,.right-section h1{
        font-size: 1.6rem;
        font-weight: 550;
    }

    .left-section p,.right-section p{
        font-size: 1.3rem;
        font-weight: lighter;
    }

    .footer-section ul{
        font-size: 0.4rem;
    }
}



@media (max-width:375px){
    .navbar{
        padding:15px 7px;
        align-items: center;
        height: 30px;
    }

    .nav-logo svg{
        margin:0 5px;
        max-width:85px;
    
    }

    .nav-buttons{
        margin:0;
        align-items: center;
        height: 25px;
        padding:0 5px;
        display: flex;
        gap:5px;
    }

    .nav-buttons .lang{
        padding:0 8px;
       
    }


    .lang{
        margin:0;
        padding: 0;
        height:30px;
    }

    .lang i{
        padding:0;
        margin:0 3px;

    }

    .lang select{
       
        font-size:0.8rem;
        margin:0;
        padding:0;

    }

    .sign-in{
        margin:0;
        font-size: 0.8rem;
        max-width: 50px;
        height: 30px;
    }

    .title{
        margin:10px 5px;
    }

    .box-section{
        padding:10px;
    }
}

@media (max-width:325px){
    .navbar{
        padding:10px 0;
    }

    .left-section h1,.right-section h1{
        font-size: 1.2rem;
        font-weight: 550;
    }

    .left-section p,.right-section p{
        font-size: 0.9rem;
        font-weight: lighter;
    }
}